.cardWrap {
    margin-bottom: 20px;
}
.cardCover {
    width: 80px;
    height: 80px;
}
.ingredientsListWrap {
    padding-top: 30px;
}
.mb20 {
    margin-bottom: 20px;
}
.cardInfo {
    margin-left: 10px;
    flex: 1;
}